@keyframes loaded {
    from {width: 0%;}
    to {width: 100%;}
}

html {
    scroll-behavior: smooth; 
}

html, body {
    height: 100%;
}

header {
    height: 80%;
}

.nav-item {
    text-transform: uppercase;
}

.section:before {
    height: 54px;
    content: "";
    display:block;
}

.navbar-brand {
    font-size: 28px;
    font-weight: bold;
}

#intro, #deliv2intro, #deliv3intro, #deliv4intro {
    height: 100%;
}

#intro {
    background: url("./background.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#deliv2intro {
    background: url("./women-talking.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#deliv3intro {
    background: url("./background3.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#deliv4intro {
    background: url("./background3.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sectionHeader {
    text-transform: uppercase;
    border-bottom: solid 1px black;
}

.smallerHeader {
    font-size: 0.6em;
}

.sectionLine {
    position: relative;
    background-color: black;
    margin-bottom: 15px;
}

#abo-line {
    width: 600px;
    left: 23%;
}

.section {
    min-height: 50vh;
    margin-top: 30px;
    padding: 10px;
}

#aboutMe p {
    font-size: 18px;
    text-align: justify;
}

#ahmadPortrait {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.icons .about-me-icon {
    font-size: 2em;
}

/*EXPERIENCE*/

.experience-title {
    margin-bottom: 15px;
}

#exp-line {
    width: 400px;
    left: 32%;
}

#experience-main {
    margin: 30px;
}

.exp-img {
    border: solid 1px black;
    height: 200px;
    width: 200px;
}


.experience-list-div img {
    margin-right: 15px;
}

.experience-list {
    list-style-position: inside;
    padding-left: 0;
}

.experience-list li {
    word-break: break-all;
}

.experience-list-div {
    margin-bottom: 20px;
}

/*SIDE PROJECTS*/
.sp-grid-div {
    height: auto;
    width: auto;
    padding: 5px;
    margin: 5px;
}

.sp-grid-div img {
    height: 250px;
    width: 300px;
    border: solid 1px black;
    margin: 20px;
}

/*SIDEBAR*/
#sidebar {
    height: auto;
    width: 150px;
    background-color: #007bff;
}

.flex-grow {
    flex: 1 0 auto;
}

#sidebar .container {
    padding: 20px;
    padding-top: 0;
}

#sidebar p, li {
    font-size: 18px;
}

#sidebar h1 {
    border-bottom: dotted 2px white;
    margin-bottom: 10px;
    margin-top: 25px;
}


.progress-bar-empty {
    width: 100%;
    background-color: #6c757d;
    height: 20px;
    border-radius: 25px;
}

.progress-bar-fill {
    background-color: #28a745;
    position: relative;
    height: 20px;
    border-radius: 25px;
    float: left;
}

.lang-title {
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0;
}

#python-fill {
    width: 85%;
    max-width: 85%;
    animation-name: loaded;
    animation-duration: 700ms;
}

#java-fill {
    width: 60%;
    max-width: 60%;
    animation-name: loaded;
    animation-duration: 700ms;
}

#sql-fill {
    width: 50%;
    max-width: 50%;
    animation-name: loaded;
    animation-duration: 700ms;
}

#javascript-fill {
    width: 40%;
    max-width: 40%;
    animation-name: loaded;
    animation-duration: 700ms;
}

#html-css-fill {
    width: 80%;
    max-width: 80%;
    animation-name: loaded;
    animation-duration: 700ms;
}

#shell-scripting-fill {
    width: 25%;
    max-width: 25%;
    animation-name: loaded;
    animation-duration: 700ms;
}

.sidebar-list {
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.extend-sp {
    margin-left: auto;
    font-size: 26px;
    color: green;
}

.sp-description {
    border: dashed 2px black;
    padding: 10px;
    display: none;
}

.contact-table p {
    word-break: break-all;
}

.contact-table a {
    font-size: 18px;
    color: white;
}

#expectations-table {
    border: solid 1px black;
}

#expectations-table td {
    border: solid 1px black;
    min-height: 100px;
    padding: 10px;
}

#expectations-table .title-exp {
    font-weight: bold;
    text-align: center;
}

.persona-img {
    height: 220px!important;
    width: 160px!important;
    border-radius: 50%;
}

.persona-div {
    display: flex;
    justify-content: space-between;
}

.persona-text {
    max-width: 70%;
}